<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header class="header-wrapper">
        <section class="header">
            <div class="checkbox-container">
                <div class="checkbox-wrapper">
                    <input type="checkbox" id="toggle">
                    <label class="checkbox" for="toggle">
                        <div class="trace"></div>
                        <div class="trace"></div>
                        <div class="trace"></div>
                    </label>
                    <div class="menu"></div>
                    <nav class="menu-items">
                        <ul>
                            <li><a href="/sig-mec-test/">Home</a></li>
                            <li><a href="about.html" target="_self">Sobre</a></li>
                            <li><a href="contact.html" target="_self">Contato</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </section>
        <section>Contato</section>
    </header>
    <script type="module" src="../../static/js/website.js"></script>
    <script type="module" src="../../static/js/geral.js"></script>
</body>
</html>
