/* HEADER */

.header-wrapper {
    width: 100%;
    height: 100vh;
    background: linear-gradient(-45deg, #003300, #18453B, #46c7ab, #46c7ab);
    background-size: 400% 400%;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: backgroundTransition 8s ease-in-out infinite;
}

@keyframes backgroundTransition {
    0% {
        background-position: 0% 80%;
    }

    50% {
        background-position: 80% 100%;
    }

    100% {
        background-position: 0% 90%;
    }
}

.company {
    text-align: center;
    padding: 1rem;
}

h1,
h2,
h3 {
    text-transform: uppercase;
    letter-spacing: 4px;
}

h1 {
    margin-bottom: 1rem;
}

h3 {
    font-weight: 300;
    padding-bottom: 0.3rem;
}

.contacts {
    display: flex;
    flex-direction: column;
}

.social-media {
    display: flex;
    flex-direction: row;
}

.contacts a,
.social-media a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.5rem;
    border: 1px solid #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s cubic-bezier(0.55, 0.025, 0.675, 0.97);
}

.contacts a {
    padding: 1rem 4rem;
}

.social-media a {
    background-color: #494949;
    min-width: 2rem;
    margin-top: 1rem;
    padding: 1rem;
    margin: 1rem 0.5rem;
    border-radius: 50%;
}

a:hover {
    color: #003300;
    background-color: #FFFFFF;
}

.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
    transition: 400ms ease-in-out 0s;
}

.checkbox .trace {
    width: 50px;
    height: 2px;
    background-color: #FFFFFF;
    position: absolute;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}

.checkbox .trace:nth-child(1) {
    top: 26px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(2) {
    top: 46px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(3) {
    top: 66px;
    transform: rotate(0);
}

#toggle {
    display: none;
}

.menu {
    position: absolute;
    top: 28px;
    right: 30px;
    background-color: transparent;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0px #FFFFFF;
    z-index: -1;
    transition: 900ms ease-in-out 0s;
}

.menu-items {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 900ms ease-in-out 0s;
    background-color: #003300;
}

.menu-items ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-items ul li {
    padding-bottom: 2rem;
}

.menu-items ul li a {
    color: #003300;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-size: 2.5rem;
}

.menu-items ul li a:hover {
    color: #355E3B;
}

#toggle:checked+.checkbox .trace:nth-child(1) {
    transform: rotate(45deg);
    background-color: #003300;
    top: 47px;
}

#toggle:checked+.checkbox .trace:nth-child(2) {
    transform: translateX(-100px);
    width: 30px;
    visibility: hidden;
    opacity: 0;
}

#toggle:checked+.checkbox .trace:nth-child(3) {
    transform: rotate(-45deg);
    background-color: #003300;
    top: 48px;
}

#toggle:checked+.checkbox {
    background-color: #FFFFFF;
}

#toggle:checked~.menu {
    box-shadow: 0px 0px 0px 100vmax #FFFFFF;
    z-index: 1;
}

#toggle:checked~.menu-items {
    visibility: visible;
    opacity: 1;
    background-color: #FFFFFF;
}


/* MAIN ABOUT */

.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 3rem 0;
}

.card-container {
    width: 95%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1px;
}

.card {
    margin: 3rem 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(0.5);
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.3s;
}

.card-text {
    width: 40%;
    font-family: sans-serif;
    letter-spacing: 1px;
    line-height: 25px;
    color: rgb(109, 109, 109);
    text-align: center;
}

#image1,
#image2,
#image3 {
    width: 400px;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#image1 {
    background-image: url('../img/image1.jpg');
}

#image2 {
    background-image: url('../img/image2.jpg');
}

#image3 {
    background-image: url('../img/image3.jpg');
}

.card-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-wrapper::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    display: block;
    border: 1px solid #FFFFFF;
    opacity: 0;
    transition: 0.3s;
}

.card-wrapper h2 {
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0;
    transition: 0.3s;
}

.card-wrapper p {
    font-size: 0;
    visibility: hidden;
    opacity: 0;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;
}

.card:hover {
    filter: unset;
}

.card:hover>.card-wrapper::before {
    opacity: 1;
    width: 350px;
    height: 250px;
}

.card:hover>.card-wrapper p {
    font-size: 28px;
    visibility: visible;
    opacity: 1;
}

.btn {
    background: #355E3B;
    border: none;
    margin-top: 20px;
    padding: 10px 20px;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    width: 200px;
    cursor: pointer;
    transform: skew(-21deg);
}

.btn span {
    display: inline-block;
    transform: skew(21deg);
}

.btn span {
    text-decoration: none;
    color: #FFFFFF;
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    left: 0;
    background: #bfd0bb;
    opacity: 0;
    z-index: -1;
    transition: all 0.5s;
}

.btn span:hover {
    background: #bfd0bb;
    color: #003300;
}

.btn:hover::before {
    left: 0;
    right: 0;
    opacity: 1;
}